input {
    position: absolute;
    left: 10px;
    width: 310px;
    font: 20px "Times New Roman";
    text-align: center;
}
input[type="text"] {
    top: 20px;
}
input[type="password"] {
    top: 60px;
}
button,p {
    position: absolute;
    width: 300px;
    top: 90px;
    left: 50%;
    margin-left: -150px;
    text-align:  center;
}
